*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f3f4f6;
}

.app{
    display:flex;
    min-height:100vh;
}

.sidebar{

    width:250px;

    background:#1f2937;

    color:white;

    padding:25px;

}

.sidebar h2{

    text-align:center;

    margin-bottom:30px;

}

.content{

    flex:1;

    padding:30px;

}

.header{

    margin-bottom:20px;

}

.header h1{

    color:#1f2937;

}

.header p{

    color:#6b7280;

    margin-top:5px;

}

.card{

    background:white;

    border-radius:10px;

    padding:25px;

    box-shadow:0 3px 10px rgba(0,0,0,.15);

}

.menu{

    display:flex;

    flex-direction:column;

    gap:10px;

}

.menu button{

    width:100%;

    border:none;

    padding:12px;

    border-radius:8px;

    background:#374151;

    color:white;

    cursor:pointer;

    font-size:16px;

    text-align:left;

    transition:.3s;

}

.menu button:hover{

    background:#2563eb;

    transform:translateX(5px);

}